x-demo:
  &demo
  build: { context: . }
  stdin_open: true
  tty       : true
  depends_on:
    - db
    - redis
    - clickhouse
  volumes:
    - .:/home/app/src
  environment:
    DJANGO_SETTINGS_MODULE: demo.settings
    DEBUG: True 
    DB_HOST: ${DB_HOST:-db}
    DB_PORT: ${DB_PORT:-5432}
    DB_NAME: ${DB_NAME:-demo}
    DB_USER: ${DB_USER:-postgres}
    DB_PASSWORD: ${DB_PASSWORD:-123456}
    CLICKHOUSE_HOST    : ${CLICKHOUSE_HOST:-clickhouse}
    CLICKHOUSE_PORT    : ${CLICKHOUSE_PORT:-8123}
    CLICKHOUSE_DATABASE: ${CLICKHOUSE_DATABASE:-default}
    CLICKHOUSE_USER    : ${CLICKHOUSE_USER:-admin}
    CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD:-123456}
    REDIS_URL: redis://redis:6379
    CELERY_BROKER_URL: redis://redis:6379

volumes:
  db:
  redis:
  clickhouse:

services:
  db:
    image: postgres:17.5-alpine3.21
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - 5432:5432  # expose it for dev tools
    environment:
      POSTGRES_USER    : ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-123456}
      POSTGRES_DB      : ${DB_NAME:-demo}
  redis:
    image: redis:7.4.7-alpine3.21
    ports:
      - 6379:6379 # expose it for dev tools
    volumes: 
      - redis:/data
  # ClickHouse used as a storage for logs (alternative stdout/stderr)
  clickhouse:
    image: clickhouse/clickhouse-server:25.7
    ports:
      - 8123:8123 # HTTP interface for dev tools
      - 9000:9000 # Native TCP interface for dev tools
    volumes:
      - clickhouse:/var/lib/clickhouse # data
    environment:
      CLICKHOUSE_USER    : ${CLICKHOUSE_USER:-admin}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD:-123456}
      CLICKHOUSE_DATABASE: ${CLICKHOUSE_DATABASE:-default}
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
  demo:
    <<: *demo
    ports:
      - 5678:5678  # for attach debugger to the container
    command: python manage.py runserver 0.0.0.0:8000
  demo-worker:
    <<: *demo
    command: celery -A demo.celery_app worker -l INFO --concurrency=2
